<%- include("partials/header")%>

<div class ="container">
	<div class="jumbotron">
		<header class="container">
			<h1>Welcome To Travel Mems!</h1>
			<p>Here's where you can find best travel memories of people around the world. </p>
					
<p><a class="btn btn-primary btn-lg" href="/memories/new">Okey! Let me add my Memories</a></p>

		</header>

	</div>
<div class="row" style="display:flex; flex-wrap: wrap;">	
<%campgrounds.forEach(function(campground){%>
<div class="col-md-3 col-sm-6">
	<div class="thumbnail text-center">
		<img src = "<%=campground.image %>">
		<div class="caption">
<%=campground.name%>
			
		</div>
<p>
				<a href="/memories/<%=campground._id%>" class="btn btn-primary">More info</a>
			</p>
	</div>
	
	</div>
 
	
<%});%>
	</div>
	
</div>

<script>

// When the user scrolls the page, execute myFunction
window.onscroll = function() {myFunction()};

// Get the navbar
var navbar = document.getElementByTagName("header");

// Get the offset position of the navbar
var sticky = navbar.offsetTop;

// Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("colored")
  } else {
    navbar.classList.remove("colored");
  }
}

</script>

<%- include("partials/footer")%>